<html lang="en" class="theme-light">
<head>
  <meta charset="utf-8"/>
  <title>MemoryBoard</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
>
</head>
<body>
  {{!-- <script src="/assets/BulmaModal.js"></script> --}}
  <section class="columns">

    <div class="column is-3 section is-sticky">
      <aside class="menu">
        <p class="menu-label is-hidden-touch"></p>
        <ul class="menu-list">
          <li>
            <button class="js-modal-trigger" data-target="modal-Uploader">
              Upload
            </button>
          </li>
          <li>
            <a href="/" class="">
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-home"></i>
                </span>
                  <span>Home</span>
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="">
              <span class="icon"><i class="fas fa-info"></i></span> Profile
            </a>
          </li>
          <li>
            <a href="#" class="">
              <span class="icon"><i class="fas fa-home"></i></span> Prenium
            </a>
          </li>
          <li>
            <a href="/logout" id="logout">
              <span class="icon"><i class="fas fa-info"></i></span> Log Out
            </a>
          </li>
        </ul>
      </aside>
      
    </div>

    <div class="column is-6">
      <section id="app">
      </section>
    </div>

    <div class="column is-2 section">
      <section class="friends">
        <p>No friends</p>
      </section>
    </div>
 
  </section>

  <div id="eMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>

  <script src="/assets/appBundle.js"></script>

</body>
</html>
