<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MemoryBoard</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
>
</head>
<body> 
  <nav class="level">
    <div class="level-item">
    <a id="loginButton" href="/login">
        <figure class="image is-128x128 is-centered">
          <img id="logo" src="/assets/img/polaroid2.png" alt="camera logo"/>
        </figure>
      </a>
    </div>
    
  </nav>
  <section id="content">

  </section>

  <nav class="level">
    <div class="level-item">
      <a id="signupButton" href="/signup">Sign up</a>
    </div>
    <div class="level-item">
      <a id="forgotpassButton" href="/forgotpass">Forgot Password?</a>
    </div>
  </nav>
  

  <div id="eMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
