<html lang="en" class="theme-light">
<head>
  <meta charset="utf-8"/>
  <title>MemoryBoard</title>
  {{!-- <link rel="shortcut icon" href="/assets/img/favicon.png"/> --}}
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
/>
</head>
<body> 
  
  <section class="columns has-background-dark">
    <div class="column is-3 section is-sticky has-background-white">
      <a class="has-text-centered" href="/">
        <figure class="image container is-96x96">
          <img id="logo" src="/assets/img/polaroid2.png" alt="camera logo"/>
        </figure>
      </a>
      <p class="title-2 has-text-centered pt-4">MemoryBoard</p>
      <aside class="menu">
        <p class="menu-label is-hidden-touch"></p>
        <ul class="menu-list">
          <li>
            <a href="/createPost" class="has-text-left p-4">
              <span class="icon-text">
                  <span class="icon">
                    <span class="ph--house-fill"></span>
                  </span>
                  <span>Home</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/premium" class="has-text-left p-4">
              <span class="icon-text">
                  <span class="icon">
                    <span class="mdi--sparkles"></span>
                  </span>
                  <span>Premium</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/logout" class="has-text-left p-4">
              <span class="icon-text">
                  <span class="icon">
                    <span class="solar--logout-3-bold"></span>
                  </span>
                  <span>Log out</span>
              </span>
            </a>
          </li>
        </ul>
      </aside>
      
    </div>

    <div class="column is-6">
      <section id="content3">
        <div class="card">
          <div class="card-content has-text-centered">
            <div class="media">
              <div class="media-content">
                <span class="mdi--sparkles"></span><p class="title is-1">Premium</p>
                <span class="mdi--sparkles"></span>
              </div>
            </div>
            <div class="content">
              <p>Get Premium for special perks!</p>
              <ul>
                <li>Unlimited Photos</li>
                <li>Limited Stickers</li>
                <li>Share Timeline</li>
              </ul>
            </div>
            <div class="content">
              <p>
                For a Price of $1.99!
              </p>
            </div>
            <div class="content">
              <button class="button is-success">Buy Now for $1.99!</button>
            </div>
          </div>
        </div>
      </section>
    </div>
    
  </section>
  

  <div id="eMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/newPassBundle.js"></script>
</body>
</html>